@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 16px;
}

a {
    color: #2b2b2b;
}

nav {
    padding: 1rem 2rem;
    text-align: right;
    min-height: 1.6rem;
}

nav a > img {
    max-height: 1.5rem;
}

nav a, a.button {
    text-decoration: none;
}

nav a:not(.brand) {
    padding: .4rem .1rem;
    margin: 0 .4rem;
    position: relative;
    top: .2rem;
    font-size: 15px;
}

nav a.brand {
    float: left;
}

.button, nav a.button {
    padding: .5rem 1rem;
    font-weight: 800;
    background-color: #e81d43;
    color: #fff;
    border-radius: .3rem;
}

nav a:hover {
    opacity: .8;
}

.button:hover, nav a.button:hover {
    background-color: #e43839;
}

.button:active, nav a.button:active {
    background-color: #9e3636;
}

main > section {
    padding: 6rem 4rem;
}

section.hero {
    text-align: center;
}

section.hero img {
    display: block;
    margin: 2rem auto 0;
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

section.hero h1 {
    font-weight: 400;
    margin: 0;
}

section.hero p {
    font-size: 18px;
}

section.hero .button {
    display: inline-block;
    font-size: 20px;
    padding: .8rem 1.5rem;
    font-weight: 500;
}

section.hero h1 strong {
    display: block;
}
